.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0;
}

/* Code blocks */
pre > code {
    display: block;
    font-size: 14px;
    white-space: inherit;
    max-width: inherit;
    background: transparent;
    border: none;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
}

pre {
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
}

.wy-menu h4 {
    margin: 1em 0 0 1.3em;
    color: #ccc;
}
.wy-nav-content {
    max-width: 100%;
}

.rst-content ul {
     list-style: disc;
     padding: 0 0 0 3em;
     margin: 1em 0;
 }
.rst-content ul li{
    list-style: disc;
}

.rst-content ol {
    list-style: decimal;
    padding: 0 0 0 3em;
    margin: 1em 0;
}
.rst-content ol li{
    list-style: decimal;
}

table {margin-bottom: 2em;}
th, td {border: 1px solid #eee; padding: 0.5em; background: #fff}

.wy-menu-vertical a.active {
    background: rgba(255,255,255,0.3);
    font-weight: bold;
    color: #fff;
}
