body {
    font-family: "Noto Sans JP",Arial,sans-serif;
    line-height: 1.5;
}

.rst-content a {
    text-decoration: underline;
    color: #0072ff;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0;
}

/* Code blocks */
pre > code {
    display: block;
    font-size: 14px;
    white-space: inherit;
    max-width: inherit;
    background: transparent;
    border: none;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
}

pre {
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
}

code, .rst-content tt {
    font-size: 100%;
    font-weight: bold;
}

h2, h3, h4, h5 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.wy-menu h4 {
    margin: 1em 0 0 1.3em;
    color: #ccc;
}
.wy-nav-content {
    max-width: 100%;
}

.rst-content p {
    margin-bottom: 1em;
}

.rst-content blockquote {
    margin-left: 0;
    padding-left: 24px;
    border-left: 5px solid #1a8acc;
}
.rst-content ul {
     list-style: disc;
     padding: 0 0 0 3em;
     margin: 0 0 1em;
 }
.rst-content ul li{
    list-style: disc;
}

.rst-content ol {
    list-style: decimal;
    padding: 0 0 0 3em;
    margin: 0 0 1em;
}
.rst-content ol li{
    list-style: decimal;
}

table {margin-bottom: 2em;}
th, td {border: 1px solid #eee; padding: 0.5em; background: #fff}

.wy-menu-vertical a.active {
    background: rgba(255,255,255,0.3);
    font-weight: bold;
    color: #fff;
}
